@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
*{

}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #b0f1ff;
}

.scroll-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.scroll-container section {
  width: 100%;
  height: 100%;
}

/* p {
  font-size: 100%;
} */

div.logoTextContainer img {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: contain;
}

img#logo {
  width: 300px;
}


h1.logoText1, h1.logoText3 {
  object-position: center;
  font-size: 1.5em;
  z-index: 1;
  font-weight: bold;
  text-shadow: 0 0 2px #b0f1ff;
}

h1.logoText1 {
  letter-spacing: 0.5vw;
  transform: translateX(-0.8vw);
}

h1.logoText3 {
  letter-spacing: 1vw;
}

h1.logoText2 {
  letter-spacing: 1vw;
  object-position: center;
  font-size: 1.5em;
  z-index: 3;
  color: black;
  text-shadow: 0 0 10px #288cc9;
  color: #b0f1ff;
}

.glow {
  /* color: #b0f1ff; */
  box-shadow: 0 0 5px #288cc9;
  text-shadow: 0 0 10px #288cc9;
}

.section1, .section2, .section3, .section4 {
  /* background-color: transparent; */
  z-index: 1;
}

.section1 {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.section2 {
  display: flex;
  justify-content: center;
  z-index: 1;
}

section div {
  font-family: "Open Sans";
  font-style: normal;
  /* text-align: center; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: #888888;
}

#canvas {
  z-index: 0;
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: 15vh;
  z-index: 1;
  object-fit: contain;
  transition: color black;
}

.modelContent {
  display: flex;
  width: 90%;
  height: 80%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  justify-content: space-evenly;
}

.content1 {
  display: flex;
  flex-direction: row;
  background-color: rgba(176, 241, 255, 0.2);
  align-self: stretch;
  width: 35%;
  height: 88%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  align-self: space-evenly;
}



#videoContainer{
  width: 70%;
}



#heightBar{
  background-color: rgba(0, 0, 0, 0.5);
  width: 10%;
  height: 80%;
  position: relative;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  text-align: center;
  margin-left: 2%;
}

#content1Data2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin-left: 4%;
  height: 95%;
  width: 80%;
}

#content1Data2Header{
  align-self: center;
  /* border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff; */
  padding: 2%;
  margin: 0;
}

.contentRightWrapper {
  display: flex;
  flex-direction: column;
  width: 55%;
	align-self: flex-start;
	flex-shrink: 0;
	flex: 0.9;
}

 .navBar {
  /* width: 55vw; */
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: wrap;
	position: relative;
	/* flex: 0.8; */
	height: 7vh;
	/* flex-shrink: 0; */
	/* flex: 1; */
	/* flex-basis: auto; */
	transform: translateY(-2vh);
}

.navBar a {
  color: #b0f1ff;
  padding: 1vw 3vw 1vw 3vw;
  list-style: none;
  border: solid #b0f1ff;
  border-radius: 5px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
	/* height: 2vh; */
  transition: 0.5s;
}

a:hover {
  background-color: rgba(176, 241, 255, 0.2);
}

.content2 {
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
	display: flex;
	height: 35vh;
	flex-shrink: 0;
	flex-basis: auto;
	transform: translateY(0vh);
  /* flex: 1 1 0; */
  justify-content: space-evenly;

  /* align-items: center; */
  position: relative;
}

.content3 {
  display: flex;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
	height: 20vh;
	flex-shrink: 0;
	flex: 1;
	flex-basis: auto;
	transform: translateY(4vh);
  background-color: rgba(0, 0, 0, 0.5);

}

#dashboard {
  background-color: rgba(0, 0, 0, 0.5);
}

.data1 {
  text-align: left;
  color: #b0f1ff;
  padding-left: 1vw;
  width: 50%;
  length: 50%;
  position: relative;
  overflow: hidden;
}

#packageContentLeft, #packageContentRight {
  width: 50%;
  height: 90%;
}




.medIcons {
  width: 40%;
  height: auto;
}

#data1Text {
  padding-left: 0;
}

#warningsDataLeftText {
padding-left: 0;
}

.red {
  color:
}

.data2 {
  text-align: left;
  color: #b0f1ff;
  /* padding-left: 5%; */
  width: 25%;
  length: 50%;
  position: relative;
  overflow: hidden;
}

.data3 {
  text-align: left;
  color: #b0f1ff;
  width: 25%;
  length: 40%;
  margin-left: 10%;
  margin-bottom: 4%;
  position: relative;
  background: url('/assets/textures/dataStream.png');
  background-size: cover;
  background-repeat: repeat-y;
  animation-name: rotateY;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 2%;
  border: solid #b0f1ff;
  border-radius: 2px;
  border-width: thin;
}

#warnings {
  background-color:rgba(1, 1, 1, 0.5);
}

.warningsDataRight {
  width: 35%;
  height: 90%;
  border: solid #b0f1ff;
  border-radius: 5px;
  border-width: thin;
  background-color:rgba(176, 241, 255, 0.2);
  margin-right: 0%;
  padding-right: 5%;
  justify-content: center;
}

.warningsDataRight li{
  font-size: 80%;
  list-style-type: disc;
  padding-right: 1%;
}

.warningsDataLeft {
  text-align: left;
  color: #b0f1ff;
  /* padding-left: 1vw; */
  width: 50%;
  length: 50%;
  position: relative;
  overflow: hidden;
  padding-left: none;
  margin-left: none;
}

#warningsDataRightText  {
  font-size: 90%;
}

div#dataNumbers {
  background-color: rgba(0, 0, 0, 1.0);
  text-align: left;
  width: 30%;
  color: red;
  height: 85%;
}

p#globeData {
  transform: translateY(-2.5vh) translateX(1vw);
}

h4{
  align-self:center;
  margin-left: 4%;
}

#content3Data1{
  height: 100%;
  margin-left: 2%;
  width: 30%;
  height: 85%;
  flex-basis: auto;
  flex-grow: 0;
  position: relative;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  background-color: rgba(176, 241, 255, 0.2);
  overflow: hidden;
}

#content3Data2{
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  background-color: rgba(176, 241, 255, 0.2);
  text-align: center;
}


#content3Data1 a {
  text-decoration: underline;
  padding-top: 2%;
  margin-left: 4%;
}

#content3Data1 p {
  padding-left: 0;
}

#content3Data1 image {
  object-fit: contain;
  overflow: hidden;

}

#content3Data2{
  height: 100%;
  margin-left: 2%;
  width: 30%;
  height: 85%;
  flex-basis: auto;
  flex-grow: 0;
  /* position: relative; */
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  background-color: rgba(176, 241, 255, 0.2);
  align-content: center;
}

.redText{
  color: rgb(199, 0, 0);
}

#emergencyLine:hover, #makeDonation:hover {
  transition: 1s;
  background-color: rgba(176, 241, 255, 0.2);
}

#emergencyLine, #makeDonation {
  padding-left: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 5%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 2px #b0f1ff;
  background-color: rgba(0, 0, 0, 0.5);
}

#content3Data3{
  height: 100%;
  margin-left: 2%;
  width: 30%;
  height: 85%;
  flex-basis: auto;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#earth {
  transform: translateY(-15.5vh);
  position: relative;
  width: 180px;
  height: 180px;
  background: url('/assets/pics/outline3.png');
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  background-size: 180%;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotate;
  -ms-animation-duration: 20s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  opacity: 100%;
  box-shadow: inset 0 0 8px #288cc9;
}

@-webkit-keyframes rotate {
  from {
    background-position: -20vw 2vw;
  }

  to {
    background-position: 12vw 2vw;
  }
}

@-ms-keyframes rotate {
  from {
    background-position: -20vw 2vw;
  }

  to {
    background-position: 12vw 2vw;
  }
}

@-moz-keyframes rotate {
  from {
    background-position: -20vw 2vw;
  }

  to {
    background-position: 12vw 2vw;
  }
}

@keyframes rotate {
  from {
    background-position: -20vw 2vw;
  }

  to {
    background-position: 15vw 2vw;
  }
}


@-webkit-keyframes rotateY {
  from {
    background-position: -20vh 2vh;
  }

  to {
    background-position: 12vh 2vh;
  }
}

@-ms-keyframes rotateY {
  from {
    background-position: -20vw 2vw;
  }

  to {
    background-position: 12vw 2vw;
  }
}

@-moz-keyframes rotateY {
  from {
    background-position: -20vw 2vw;
  }

  to {
    background-position: 12vw 2vw;
  }
}

@keyframes rotateY {
  from {
    background-position: 0vh 0vh;
  }

  to {
    background-position: 0vh 30vh;
  }
}


/* ################################################### */
/* FORUM CSS */
/* ################################################### */

.section3 {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.modelContentForum {
  display: flex;
  width: 90%;
  height: 80%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  justify-content: space-evenly;
}

.sideNavForum{
  display: flex;
  flex-direction: column;
  /* background-color: rgba(176, 241, 255, 0.2); */
  background-color: none;
  align-self: stretch;
  width: 15%;
  height: 88%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  padding:0;
  margin:0;
  overflow-y: scroll;
}

.sideNavForum div {
  color: #b0f1ff;
  padding: 1vw 0vw 1vw 0vw;
  list-style: none;
  border: solid #b0f1ff;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  width:100%;
  transition: 0.5s;
  align-items: center;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  top:20%;
  border-top: none, none, none;
  border-left:none;
  border-right:none;
}

#sideNavTitle{
  border:none;
  border-style:none;
  box-shadow: none;
  border-width: 0;
}

.sideNavForum a {
  align-self: center;
  color: #b0f1ff;
  padding: 1vw 3vw 1vw 3vw;
  list-style: none;
  border: none;
  border-color: none;
  border-style: none;
  width:100%;
  transition: 0.5s;
  cursor: pointer;
}

.forumTopNav{
  display: flex;
  justify-content: space-between;
  flex-shrink: wrap;
	position: block;
	/* flex: 0.8; */
	height: 7vh;
	flex-shrink: 0;
	flex: 1;
	flex-basis: auto;
	transform: translateY(-2vh);
}



.navBarForum {
  /* width: 55vw; */
  display: flex;
  justify-content: space-between;
  flex-shrink: wrap;
	position: block;
	/* flex: 0.8; */
	height: 7vh;
	flex-shrink: 0;
	flex: 1;
	flex-basis: auto;
	transform: translateY(-2vh);

}

#searchBar{
  color: #b0f1ff;
  padding: 0;
  list-style: none;
  border: solid #b0f1ff;
  border-radius: 5px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
	height:.5vh;
  transition: 0.5s;
  left: 1vw;
  width:100%;
  height: 4vh;
  margin-top: -.5vh;
}
#searchBar p{
  padding: 0;
  margin-left: .5vw;
  margin-right: .5vw;
  margin-top:0;
  margin-bottom: 0;
  transform: translateY(55%);
  font-size: .75em;
}

#searchBarContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin-right:2%;
}

#searchBarContainer h1{
  font-size: 1.3em;
  box-shadow: none;
  font-weight:50;
  cursor: pointer;
}

#forumTitle{
  color: #b0f1ff;
  list-style: none;
  border-style: none;
  border: none;
  bottom:0;
	/* height: 2vh; */
}
.navBarForum a {
  color: #b0f1ff;
  padding: 1vw 3vw 1vw 3vw;
  list-style: none;
  border: solid #b0f1ff;
  border-radius: 5px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
	/* height: 2vh; */
  transition: 0.5s;
}

.contentRightWrapper p{
  padding-left: 1vw;
  font-size: 1em;
}

.content2forum{
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
	display: flex;
  flex-direction: column;
	height: 60vh;
	flex-shrink: 0;
	flex: 1.0;
	flex-basis: auto;
	transform: translateY(0vh);
  overflow-y:scroll;
}

.forumPost{
  display: flex;
  justify-content: space-between;
  flex-shrink: wrap;
	position: block;
	/* flex: 0.8; */
	height: auto;
	flex-shrink: 0;
	flex: 1;
	flex-basis: auto;
	transform: translateY(6vh);
  padding-top: 1vh;
  top: 0;
  font-size: .9em;
}

.innerWrapperPost{
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-right:1vw;
  box-shadow: 0 0 5px #b0f1ff;
	display: flex;
	height: auto;
	flex: .9;
  margin-top: 0.2vh;
  flex-direction: column;
}

.images{
  max-width: 25vh;
  height: auto;
  margin-left: 1vw;
  margin-bottom: 1vw;;
}

.footnotePosts{
  border: none;
  position:relative;
  left:0;
  top:0;
  padding:0;
  margin:0;
}
.footnotePosts button{
  cursor:pointer;
  border:none;
  background:none;
  color: #b0f1ff;
  width:auto;
  margin-left: 1vw;
  font-size: 0.75em;
}

#dashboardForum{
  background-color: rgba(0, 0, 0, 0.5);
}
/* End of to add */
/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #b0f1ff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:none;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(176, 241, 255, 0.2);
}

/* ################################################### */
/* TO HERE */
/* ################################################### */


/* Section 4 Video Content */

.section4 {
  display: flex;
  justify-content: center;
  /* z-index: 1; */
}

#videoContainer1 {
  display: flex;
  width: 90%;
  height: 80%;
  top: 46%;
  border-width: thin;
  justify-content: space-evenly;
  margin-top: 0%;
}

#videoContainer2 {
  display: flex;
  width: 90%;
  height: 80%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  justify-content: space-evenly;
  background-color: #171a1f;
}

#videoContainer3 {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 80%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  justify-content: space-evenly;
  background-color: #0a0a0a;
}

video{
  object-fit: contain;
  width: 100%;
}

#icon{
  padding: 4%;
  opacity: 80%;
  width: 30%;
  filter: drop-shadow(0 0 0.2rem #b0f1ff);
}

#get_dose {
  background-color:rgba(1, 1, 1, 0.5);
}

.getDoseDataLeft p{
  line-height: 230%;
  padding-left: 0;
  font-size-adjust: auto;
  overflow: hidden;

}

.getDoseDataLeft {
  width: 50%;
  overflow: hidden;
}


.getDoseDataRight {
  width: 50%;
  height: 90%;
  border: solid #b0f1ff;
  border-radius: 10px;
  border-width: thin;
  box-shadow: 0 0 5px #b0f1ff;
  background-color: rgba(176, 241, 255, 0.2);
  display: flex;
  /* overflow: scroll; */

}

.getDoseDataRight p {
  align-self: center;
}


#map-container {
  width: 40%;
  height: 80%;
}



#mapData {
  border: none;
  opacity: 50%;
  filter: grayscale(80%) hue-rotate(190deg) contrast(120%);
  border-radius: 5%;
  display: none;
}

input[type=text], input[type=date], button {
  border: 2px solid;
  border-radius: 5%;
  background-color: rgba(176, 241, 255, 0.2);
  color: rgba(176, 241, 255, 0.5);
  font-family: monospace;
  width: 35%;
  padding: .5%;
  transition: 1s;
}


input[type=checkbox], {
  background-color: rgba(176, 241, 255, 0.2);
}

button:hover {
  color: rgba(176, 241, 255, 1.2);
  cursor:pointer;
}

input#radio:checked ~ .checkmark {
  background-color: rgba(176, 241, 255, 1);
}

input#radio {
  opacity: 0.5;
  color: rgba(176, 241, 255, 1);
}

.instructionsDataRight {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.instructionsDataLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.instructionsDataLeft , .instructionsDataRight {
  width: 50%;
}

.instructionsDataLeft p, .instructionsDataRight p{
  font-size: 70%;
}

#instructions.content2 {
  display: flex;
  justify-content: center;
  padding-left: 4%;

  background-color:rgba(1, 1, 1, 0.5);

}
